<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_isConfiguration</key>
	<false/>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>DailySchedule</key>
		<data>
		TK5q7sVXMC8zzMHvfg3lD6P8LHQK0J+mH9VG3YzE4jU=
		</data>
		<key>MonthlyNotes</key>
		<data>
		wQ7K2xVPNS9mmNIvgf4lB7O9KHPR1L+oI8WH2ZyF5kV=
		</data>
	</dict>
	<key>NSManagedObjectModel_VersionIdentifiers</key>
	<array>
		<string>ScheduleData</string>
	</array>
</dict>
</plist> 